body {
    background-color: rgb(30, 33, 40);
    color: ghostwhite;
}


.cus_title {
    color: rgb(87, 23, 55);
    text-align: center;
}

.message_window {
    border: 0;
    background: rgb(87, 23, 55);
    color: ghostwhite;
    width: 90%;
    font-size: large;
    margin-left: 5%;
    min-height: 300px;
    height: 60vh;
    overflow: auto;
    resize: none;
    text-align: left;
}

.row_item {
    margin-top: 2%;
}

.content_title {
    margin-left: 5%;
    vertical-align: middle;
    font-size: larger;
}

.content_window {
    height: 5vh;
    width: 50%;
    resize: none;
}

.content_btn {
    vertical-align: middle;
    margin-left: 1%;
    font-size: larger;
}
